* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

.header-container {
  position: fixed;
  width: 100%;
  min-height: 75px;
  max-height: 75px;

  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px #eee;
}

.header-buttons {
  display: flex;
  gap: 3vw;
  justify-content: right;
  padding-right: 8vw;
  padding-top: 28px;
}

.header-buttons h3 {
  cursor: pointer;
  color: black;
}

/* welcome */
.welcome-section {
  padding-top: 26vh;
  padding-left: 12vw;

  height: 100vh;

  background-color: rgb(39, 118, 207);
}

.welcome-name {
  font-size: 60px;
}

.title-name {
  font-size: 40px;
}

/* about */

.about-container {
  max-width: 100%;
  height: 100vh;

  padding-left: 20vw;
  padding-right: 20vw;

  background-color: #eee;
}

.about-title {
  font-size: 45px;
  text-align: center;

  padding-top: 10vh;
}

.about-summary-one {
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.about-summary-two {
  padding-top: 2vh;
}
